@import "variables";

html{
	background: transparent;
}

#main {
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden !important;
}

.platform-ios7{
	.content.has-header{
		padding-bottom: 64px;
	}
}

//#sync-btn,
#logout-btn{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
}

/*
.logged-out{
	#event-list{
		display: none;
	}
}

.logged-in{
	#event-list{
		display: block;
	}
	
	#loginForm{
		display: none;
	}
}
*/

#event, #event-list{
	display: none;
}

.full-height{
	position: absolute;
	top: 0; bottom: 64px;
	left: 0; right: 0;
}

.scanner-off{
	background: $light;

	#scanner-view{
		display: none;
	}
	#result-view{
		display: block;
	}
}

.scanner-on{
	background: transparent;
	
	#scanner-view{
		display: block;
	}
	#result-view{
		display: none;
	}
}

body.scanner-off[data-page="scanner-view"]{
	#back-btn.hidden, #sync-btn.hidden{
		display: block;
	}	
}

body[data-page="scanner-view"]{
	#event-list, #loginForm{
		display: none;
	}

	#event{
		display: block;
	}

}


body[data-page="events-view"]{
	#logout-btn.hidden{
		display: block;
	}

	#event, #loginForm{
		display: none;
	}

	#event-list{
		padding-bottom: 30px;
		display: block;
		
		a.item{
			white-space: normal;
		}
	}
}


body[data-page="loggin-view"]{
	#logout-btn.hidden{
		display: none;
	}

	#event-list, #event{
		display: none;
	}

	#loginForm{
		display: block;
	}
}

#ticket-scanned{
	&.status-on .item{
		background: $balanced;
		color: $light;
	}
	
	&.status-fail .item{
		background: $assertive;
		color: $light;
	}
	
	#count{
		line-height: 30px;
	}
}

