/* line 2, ../sass/app.scss */
* {
  -webkit-touch-callout: none;
}

/* line 7, ../sass/app.scss */
html {
  background: transparent;
}

/* line 11, ../sass/app.scss */
#main {
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden !important;
  background: #222;
}

/* line 19, ../sass/app.scss */
.platform-ios7 .content.has-header {
  padding-bottom: 64px;
}

/* line 30, ../sass/app.scss */
#logo {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
}

/* line 38, ../sass/app.scss */
#logout-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

/* line 46, ../sass/app.scss */
.item-parent.wrapper .item:active {
  opacity: 0.7;
}
/* line 49, ../sass/app.scss */
.item-parent.wrapper a.item::after {
  color: #fff;
}

/* line 55, ../sass/app.scss */
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light .h1, .light .h2, .light .h3, .light .h4, .light .h5, .light .h6 {
  color: white;
}

/*
.logged-out{
	#event-list{
		display: none;
	}
}

.logged-in{
	#event-list{
		display: block;
	}
	
	#loginForm{
		display: none;
	}
}
*/
/* line 78, ../sass/app.scss */
#event, #event-list {
  display: none;
}

/* line 82, ../sass/app.scss */
.full-height {
  position: absolute;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
}

/* line 88, ../sass/app.scss */
.platform-ios6 .full-height {
  bottom: 44px;
}

/* line 92, ../sass/app.scss */
.scanner-off {
  background: white;
}
/* line 95, ../sass/app.scss */
.scanner-off #scanner-view {
  display: none;
}
/* line 98, ../sass/app.scss */
.scanner-off #result-view {
  display: block;
}

/* line 103, ../sass/app.scss */
.scanner-on {
  background: transparent;
}
/* line 106, ../sass/app.scss */
.scanner-on #main {
  background: transparent;
}
/* line 110, ../sass/app.scss */
.scanner-on #scanner-view {
  display: block;
}
/* line 113, ../sass/app.scss */
.scanner-on #result-view {
  display: none;
}

/* line 119, ../sass/app.scss */
#event .bar.bar-footer .title {
  line-height: 44px;
  margin: 0;
}
/* line 124, ../sass/app.scss */
#event .bar.bar-footer:active {
  opacity: 0.7;
}

/* line 130, ../sass/app.scss */
body.scanner-off[data-page="scanner-view"] #back-btn.hidden, body.scanner-off[data-page="scanner-view"] #sync-btn.hidden {
  display: block;
}

/* line 136, ../sass/app.scss */
body[data-page="scanner-view"] #event-list, body[data-page="scanner-view"] #loginForm {
  display: none;
}
/* line 140, ../sass/app.scss */
body[data-page="scanner-view"] #event {
  display: block;
}

/* line 148, ../sass/app.scss */
body[data-page="events-view"] #logout-btn.hidden {
  display: block;
}
/* line 152, ../sass/app.scss */
body[data-page="events-view"] #event, body[data-page="events-view"] #loginForm {
  display: none;
}
/* line 156, ../sass/app.scss */
body[data-page="events-view"] #event-list {
  padding-bottom: 30px;
  display: block;
}
/* line 160, ../sass/app.scss */
body[data-page="events-view"] #event-list a.item {
  white-space: normal;
}

/* line 168, ../sass/app.scss */
body[data-page="loggin-view"] #logout-btn.hidden {
  display: none;
}
/* line 172, ../sass/app.scss */
body[data-page="loggin-view"] #event-list, body[data-page="loggin-view"] #event {
  display: none;
}
/* line 176, ../sass/app.scss */
body[data-page="loggin-view"] #loginForm {
  display: block;
}

/* line 182, ../sass/app.scss */
#ticket-scanned.status-on .item {
  background: #66cc33;
  color: white;
}
/* line 187, ../sass/app.scss */
#ticket-scanned.status-fail .item {
  background: #ef4e3a;
  color: white;
}
/* line 192, ../sass/app.scss */
#ticket-scanned #count {
  line-height: 30px;
}
